@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --clr-light: #fff;
  --clr-dark: #333;
  --clr-primary: #023e8a;
  --clr-secondary: #eee;
  --clr-accent: #1f62af;
  --clr-toggle: #fca311;
  --foreground: var(--clr-dark);
  --background: var(--clr-light);
  --ff-title: 'Merriweather', serif;
  --ff-body: 'Roboto', sans-serif;
  --mainsize: clamp(650px, 75%, 1000px);
}

.darkmode {
  --clr-light: #fff;
  --clr-dark: #333;
  --clr-primary: #bbb;
  --clr-secondary: #023e8a;
  --clr-accent: rgb(255, 250, 244);
  --clr-toggle: #fca311;
  --foreground: var(--clr-light);
  --background: var(--clr-dark);
}

.dark-mode-toggle {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 3rem;
  border: transparent;
  padding: 4px;
  background: transparent;
  cursor: pointer;
  border-radius: 50px;
  width: 35px;
  height: 35px;
  position: relative;
}

.dark-mode-toggle i {
  position: absolute;
  font-size: 1.9rem;
  top: 2px;
  right: 2px;
}

.dark-mode-toggle .moon {
  color: var(--foreground);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.dark-mode-toggle .moon:hover {
  color: var(--clr-toggle);
}

.dark-mode-toggle .sun {
  visibility: hidden;
}

.darkmode .moon {
  visibility: hidden;
}

.darkmode .sun {
  visibility: visible;
  color: var(--clr-light);
}

.darkmode .sun:hover {
  color: var(--clr-toggle);
}

.darkmode footer img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--ff-body);
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-family: var(--ff-title);
}

h1 {
  font-size: clamp(2.2rem, 5.5vw, 3rem);
}

a {
  text-decoration: none;
  color: var(--foreground);
}

a:hover {
  font-weight: 700;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  width: var(--mainsize);
  -webkit-box-shadow: rgba(180, 180, 180, 0.19) 0px 10px 20px, rgba(87, 87, 87, 0.23) 0px 6px 6px;
          box-shadow: rgba(180, 180, 180, 0.19) 0px 10px 20px, rgba(87, 87, 87, 0.23) 0px 6px 6px;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

header,
main,
footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

header,
.book-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1rem;
}

header h1 {
  margin-bottom: -1.6rem;
}

header p {
  margin-bottom: 2rem;
  color: var(--clr-accent);
  font-size: clamp(0.9rem, 1.5vw, 1.1rem);
  font-weight: 300;
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  margin-right: -4rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: inherit;
}

.form-row label {
  font-size: 1rem;
  font-weight: 500;
}

.form-row input::-webkit-input-placeholder {
  color: #888;
}

.form-row input:-ms-input-placeholder {
  color: #888;
}

.form-row input::-ms-input-placeholder {
  color: #888;
}

.form-row input::placeholder {
  color: #888;
}

.form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 2rem;
  margin-bottom: 0.5rem;
  width: clamp(150px, 42%, 450px);
}

.form-item input,
.form-item select {
  border-radius: 4px;
  padding: 7px;
  font-size: 14px;
  height: initial;
  background-color: var(--background);
  color: var(--foreground);
  border: 1px solid #bbb;
}

.error input {
  border: 1px solid #d30c0c;
}

.form-row button,
.table-container button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
}

.form-row button {
  font-size: 1.1rem;
  width: 8.2rem;
  height: 2.6rem;
  color: var(--clr-secondary);
  background-color: var(--clr-primary);
  padding: 10px 40px;
}

.form-row button:hover {
  background-color: var(--clr-accent);
}

tr {
  text-align: left;
}

table {
  margin-left: 1rem;
  margin-right: 50px;
  width: 100%;
}

table .read,
table .not-read {
  font-size: 0.9rem;
  width: 4.2rem;
  height: 2.3rem;
  padding: 7px 28px;
  margin-bottom: 3px;
}

table .not-read {
  color: var(--clr-dark);
  background-color: var(--clr-secondary);
  line-height: 1;
}

table .read {
  color: var(--clr-light);
  background-color: var(--clr-accent);
}

table .not-read:hover {
  background-color: #bbb;
}

table .read:hover {
  background-color: var(--clr-toggle);
}

table .delete-toggle {
  font-size: 0.9rem;
  width: 4.2rem;
  height: 1.8rem;
  color: var(--clr-light);
  background-color: #f44336;
  padding: 7px 28px;
}

table .delete-toggle:hover {
  background-color: #da190b;
}

.darkmode table .read {
  background: #13ccfa;
}

.darkmode table .read:hover {
  background: #61fce2;
}

.darkmode table .not-read {
  background-color: #aaa;
}

.darkmode table .not-read:hover {
  background-color: #ccc;
}

td {
  font-size: clamp(0.95rem, 1.6vw, 1.1rem);
  font-weight: 400;
  overflow-wrap: break-word;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
}

th:first-child {
  width: 40%;
  max-width: 400px;
}

th:last-child {
  width: 15%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.2rem;
  padding: 4px;
}

footer img {
  height: 1.1rem;
  margin-bottom: -2px;
  margin-left: 4px;
}

@media (max-width: 650px) {
  body {
    width: 100vw;
    height: 100%;
  }
  .container {
    max-width: 600px;
    height: 100vh;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .form-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 95vw;
  }
  .form-row input,
  .form-row select {
    width: 80vw;
  }
  header {
    margin-left: 0rem;
  }
  main {
    margin-left: -1rem;
    margin-right: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */